{{% extends 'base.html' %}
{% block content %}

{% include "statistic_menu.html" %}
<div class="container">

    <div class="mt-5">
        <h3 class="text-center">Список рассылок</h3>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width: 55%;">Название</th>
                <th style="width: 15%;">Дата создания</th>
                <th style="width: 15%;">Статус</th>
                <th style="width: 15%;">Действия</th>
            </tr>
            </thead>

            <tbody>
            {% for mailling in maillings %}
            <tr>
                <td>{{ mailling.mail }}</td>
                <td>{{ mailling.startDt }}</td>
                <td>{{ mailling.my_field }}</td>
                <td>
                    <a href='/mailling/{{ mailling.id }}/detail/' class="btn btn-info btn-sm">Посмотреть</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>

        </table>
        <div class="text-center">
            <a href="/mailling/sendmessages/">Добавить рассылку вручную</a>
        </div>
    </div>

</div>

{% endblock %}
