{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="row">

    <div class="container col-7">
        <h2>Название рассылки</h2>
    </div>

    <div class="container col-7">
        <ul class="nav">
            <li class="nav-item">
                <p>Дата создания:</p>
            </li>
            <li class="nav-item">
                <p>Время попытки</p>
            </li>
            <li class="nav-item">
                <p>Дата редактирования</p>
            </li>
            <li class="nav-item">
                <p>Окончание рассылки</p>
            </li>
        </ul>
    </div>

    <p>Статистика</p>

</div>
{% endblock %}